<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.signin_signup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/trees"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/trees_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".User"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".User" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Date"
            android:label="@string/title_activity_date"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".Date" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ForgotPass">
            <intent-filter>
                <action android:name=".ForgotPass" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FavoriteAnimal">
            <intent-filter>
                <action android:name=".FavoriteAnimal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp">
            <intent-filter>
                <action android:name=".SignUp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>